*.lock
.vs/
getHardwareInformation/bin/Debug/
getHardwareInformation/obj/Debug/Nanit.pdb
getHardwareInformation/obj/Debug/Nanit.csproj.GenerateResource.cache
getHardwareInformation/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
